{% extends "noticeme/header.html" %}
{% block title %}Notice me - About{% endblock %}
{% block content %}
<div style=" border-radius:25px;margin-top:50px; padding-top:1px; padding-bottom:10px;">
  <div style="margin-left:10px; margin-right:10px;">
    <div class="page-header">
      <h1>About Notice Me</h1>
    </div>
    <p class="ptext">Notice Me es una aplicacion web para poder conocer los ultimos cambio que tienen tus diapositivas de <a target="_blank" href="https://slidewiki.org/">slidewiki</a>.</p>
  </div>
</div>
{% endblock %}