{% extends "noticeme/header.html" %}
{% block title %}Notice me - Search{% endblock %}
{% load staticfiles %}
{% block customcss %}
<link href="{% static 'noticeme/css/search.css' %}" rel="stylesheet" type="text/css"></link>  
{% endblock %}
{% block content %}
<div style=" border-radius:25px;margin-top:50px; padding-top:1px; padding-bottom:10px;">
    <div style="margin-left:10px; margin-right:10px;">
      <div class="page-header">
        <h1>Search Results...</h1>
      </div>
      <p>For the deck with the id {{content}} : </p>
      {% block content_result %}
        {% include "noticeme/searchloop.html" %}  
      {% endblock%}
    </div>
  </div>
  {% endblock %}
{% block customjs %}
<script src="{% static 'noticeme/js/search.js' %}" type="text/javascript"></script>
{% endblock %}